<div class="details">
    {{#if this.selectedPlanet }} 
        <div>
            <h2>{{this.selectedPlanet.name}}</h2>
            <p>Environment: <span class="environment">{{ this.selectedPlanet.environment }}</span></p>
            <p>Resources:</p>
            <ul>
                {{#each this.selectedPlanet.resources as |resource|}} 
                    <li key="index" class="resource">{{ resource }}</li> 
                {{/each}}
            </ul>
        </div>
        <div class="select-favourite">
            <div class="control">
                <input id="fav-check" type="checkbox" 
                checked={{ if this.selectedPlanet.isFavourite "checked" "" }}
                {{on "change" (fn this.toggleFavourite this.selectedPlanet.id)}} />
                <label for="fav-check">Favourite</label>
            </div>
        </div>
    {{else}}
        <span></span>
    {{/if}}
</div>
